body{
    font-family: verdana;
}
h1{
    background-color:gray;
    color: orangered;
    text-align: center;
}
nav{
    margin: 10px;
}
   

table {
    
    border-collapse: collapse;
    
    width: 80%;
    margin:10px auto;
    box-shadow: 5px 2px 3px grey;

}
table,td, th{
    border: 1px solid black;
    padding:5px;
   
    
}
th{
    background-color:green;
    color:white;
    text-align:center;
    
}
a{
    background-color: rgb(9, 110, 205);
    color: white;
    padding: 5px;
    border-radius:5px;
    border:1px solid darkgray;
    text-decoration: none;
    /* margin-top:10px; */
}
a:hover{
    color: orange;
    background-color:gray;
}
footer {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:20 px;
    
   
    color: black;
    
    width:100%;
    height:50px;
    margin-top: auto;
    
}